* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
}

header {
    display: flex;
    background-image: url("/img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
}


li {
    display: inline;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

button {
    background: none;
    border: none;
}

span {
    background-color: #ffffff;
    border: 0;
    border-radius: 1rem;
    font-weight: bold;
    padding: 0.5rem
}

p > img {
    vertical-align: middle;
    line-height: 2rem;
    height: 1.2rem;
}

.btn-black {
    background-color: #000000;
    color: #ffffff;
}

.btn-indigo {
    background-color: #8da3e2;
    color: #ffffff;
}
h1 {
    font-size: 3rem;
    font-weight:bolder;}

h2 {
    font-weight: bolder;
}

h3, h4 {
    color: #7185d1;
}
/* Utils */

.container {
    max-width: 60%;
    margin: 0 auto;
}
.header-ctr {
    max-width: 70%;
    margin: 0 auto;
}

.jumbotron {
    max-width: 50%;
    margin: 0 auto;
}

.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.col-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
}

.foot-flex {
    justify-items: center;
    align-items: flex-start;
    
}

.fn-children {
    text-align: center;
    line-height: 10rem;
    vertical-align: middle;
}


.fs5-children {
    background-color: #046504;
}

.fs6-children {
    border: 1px dashed #ffffff;
    flex-basis: 15%;
    color: white;
}
.fs6-children:first-of-type {
    flex-basis: 40%
}


/* Colori background */

.bg-lightblue {
    background-color: #8fd9ee;  
}

.bg-white {
    background-color: #f8f1a8;
}

.bg-grey {
    background-color: #b0adad;
}

.bg-charcoal {
    background-color: #1a1818;
}


/* Graphic elements */

.top-border {
    border-top: 2px solid #7185d1;
}

.pg-3 {
    padding: 3rem;
}

.mrg-b2 {
    margin-bottom: 2rem;
}
.mrg-b4 {
    margin-bottom: 4rem;
}

.mrg-t6 {
    margin-top: 6rem;
}

.dashed {
    border: 1px dashed #000000;
}

.fix-fb60 {
    flex-basis: 60%;
}

.fix-fb40 {
    flex-basis: 40%;
}

.fix-fb20 {
    flex-basis: 20%;
}
