* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
}

header {
    display: flex;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
}


li {
    display: inline-flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

button {
    background: none;
    border: none;
}

span {
    background-color: #ffffff;
    border: 0;
    border-radius: 1rem;
    font-weight: bold;
    padding: 0.5rem
}

.btn-black {
    background-color: #000000;
    color: #ffffff;
}

.btn-indigo {
    background-color: #8da3e2;
    color: #ffffff;
}
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h1, h2, h3, h4 {
    font-weight: bolder;
}

h3, h4 {
    color: #7185d1;
}
/* Utils */

.container {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
}
.headfoot-ctr {
    max-width: 70%;
    margin: 0 auto;
}

.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.col-flex {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.al-itms-flex-start {
    align-items: flex-start;
}

.foot-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    color: white;
    text-align: left;
}

/* Top-NAVBAR */

#top-nav {
    display: flex;
    background-color: #255ee9;
    width: 100vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
}

#nav-logo {
        object-fit: scale-down;
}

.fn-children {
    text-align: center;
    line-height: 4rem;
    vertical-align: middle;
}

.jumbotron {
    max-width: 50%;
    margin: 0 auto;
}

.flag {
    vertical-align: middle;
    line-height: 1.5rem;
    height: 1.2rem;
}

.fs6-children {
    border: 1px dashed #ffffff;
    flex-basis: 15%; 
    align-items: flex-start;
    align-content: center;

}

.fs6-children:first-of-type {
    flex-basis: 40%;
    line-height:1.5rem;
}

/* Colori background */

.bg-lightblue {
    background-color: #8fd9ee;  
}

.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color:#d9dcdc;
}

.bg-starry {
    background-image: url("../img/stars.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;

}
.bg-charcoal {
    background-color: #1a1818;
}


/* Graphic elements */

.top-border {
    border-top: 2px solid #7185d1;
}

.pg-3 {
    padding: 3rem;
}

.mrg-b2 {
    margin-bottom: 2rem;
}
.mrg-b4 {
    margin-bottom: 4rem;
}

.mrg-t6 {
    margin-top: 6rem;
}

.dashed {
    border: 1px dashed #000000;
}

.fix-fb60 {
    flex-basis: 60%;
}

.fix-fb40 {
    flex-basis: 40%;
}

.fix-fb20 {
    flex-basis: 20%;
}
