* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body {
    font-family: Helvetica, sans-serif
}

header {
    display: flex;
    flex-direction: column;
    background-image: url("/img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

footer {
    height: 160px;
    border-top: 2px solid #b0adad;
}

li {
    display: inline;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

button {
    background: none;
    border: none;
}

span {
    background-color: #ffffff;
    border: 0;
    border-radius: 1rem;
    font-weight: bold;
    padding: 0.5rem
}

.btn-black {
    background-color: #000000;
    color: #ffffff;
}

/* Utils */

.container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
}

.flex-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
}

.foot-flex {
    background-color: #00a59a;
}

.fn-children {
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
}

.fs1-child {
    height: 300px;
    flex-basis: 40%;
}

.fs5-children {
    background-color: #046504;
}

.fs6-children {
    background-color: #00a59a;
    border: 1px dashed #ffffff;
    flex-basis: 10%;
}
.fs6-children:first-of-type {
    background-color: #ee48ca;
    flex-basis: 20%
}

.mrg-b {
    margin-bottom: 2rem;
}

.dashed {
    border: 1px dashed #000000;
}

.sec-height {
    height: 500px;
}

.divflex-height {
    height: 400px;
}

.fix-fb60 {
    flex-basis: 60%;
}

.fix-fb20 {
    flex-basis: 20%;
}
/* Colori background */

.bg-org {
    background-color: #f4b643;
}

.bluediv {
    background-color: #a9e7ff;
    flex-basis: 40%;
}

.pinkdiv {
    background-color: #ffc0cb;
    flex-basis: 20%;
}

.bg-blue {
    background-color: #0000ee;
    height: 400px;
}

.bg-lightblue {
    background-color: #8fd9ee;  
}

.bg-cream {
    background-color: #f8f1a8;
}

.bg-grey {
    background-color: #b0adad;
}

.bg-charcoal {
    background-color: #1a1818;
}


/* Graphic elements */

.jumbotron {
}